<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" 
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer" 
    />
    <link rel='stylesheet' href='./stylesheets/tailwind.css'/>
    <title>Joseph DiMino's Portfolio</title>
  </head>
  <body class="">
    <!-- Header -->
    <header class="bg-white"> 
      <nav class="container flex items-center py-4">
        <ul class="hidden sm:flex flex-1 justify-center items-center gap-12 text-black text-5xl">
          <li class="shadow-xl px-4 py-8 rounded-xl">Joseph DiMino's Portfolio</li>
        </ul>
        <div class="flex sm:hidden flex-1 justify-center">
          <i class="text-2xl fas fa-bars"></i>
        </div>
      </nav>
    </header>
    <!-- End Header -->
    <!-- About Me -->
    <section class="container mx-auto px-4 py-8">
      <div class="container flex flex-col md:flex-row mx-auto px-4 py-8 shadow-xl rounded-xl hover:shadow-2xl">
        <div class="flex-1 ">
          <h2 class="text-3xl font-bold">
            About Me
          </h2>
          <p class="text-lg">
            I am a programmer from Smithtown.
          </p>
        </div>
        <div class="fade-in-image flex-1">
          <img src="./images/logo.jpg" alt="ERROR LOADING PHOTO">
        </div>
      </div>
    </section>
    <!--- End About -->
    <!-- Skills -->
    <section class="container mx-auto px-4 py-8">
      <div class="container flex flex-col md:flex-row px-4 py-8 shadow-xl rounded-xl hover:shadow-2xl">
        <div class="md:w-1/2">
          <h2 class="hover:animate-ping text-3xl font-bold">Skills</h2>
          <p class="text-lg">
            Java, Python, JavaScript, HTML, CSS, C++, and more.
          </p>
        </div>
        <div class="fade-in-image">
          <img src="../images/java.jpg" width="100%" height = "100%" alt=""/>
        </div>
      </div>
    </section>
    <!--- End Skills -->
    <!--Link Section-->
    <section class="container mx-auto px-4 py-8">
      <div class="container flex flex-col-reverse lg:flex-row items-center px-4 py-8 shadow-xl rounded-xl hover:shadow-2xl">
        <div class="flex felx-1 flex-col items-center lg:items-start mb:6">
          <h2 class="text-DiMino-red text-3xl md:text-4 lg:text-5xl text-center lg:text-left mb-6">
            Links
          </h2>
          <p class="text-lg text-center leg:text-left  mb-6">
            <a href="https://github.com/DiMino-0" target="_blank" class="text-black">Github</a>
          </p>
        </div>
      </div>
    </section>  
    <!--End of Link Section-->
    <!--Contact Section-->
    <section class="container mx-auto px-4 py-8">
      <div class="container mt-6 mb-6 shadow-xl rounded-xl hover:shadow-2xl">
        <div class="flex felx-1 flex-col items-center lg:items-start px-4 py-8">
          <h2 class="text-DiMino-red text-3xl md:text-4 lg:text-5xl text-center lg:text-left mb-6">
            Contact Me
          </h2>
          <p class="text-DiMino-red text-lg text-center leg:text-left mb-6">
            Email: JosephDiMino.0@gmail.com
          </p>
        </div>
      </div>
    </section>      
    <!--End of Contact Section-->
    <!-- Footer -->
    <footer class="bg-white absoulte bottom-0 w-full">
      <div class="flex flex-col items-center py-4 text-center text-sm text-black">
        <p class="text-DiMino-red text-lg">
          &copy; Joseph DiMino 2021-2021 
        </p>
      </div>
    </footer>
    <!-- End of Footer -->
  </body>
</html>
