<!DOCTYPE html>
<html>
  <head>
    <title>Joseph DiMino's Portfolio</title>
    <link rel='stylesheet' href='./stylesheets/tailwind.css'/>
  </head>
  <body class="font-Montserrat">
    <!-- Header -->
    <header class="bg-white"> 
      <nav class="container flex items-center py-4">
        <ul class="hidden sm:flex flex-1 justify-center items-center gap-12 text-black uppercase text-5xl italic">
          <li class="cursor-pointer text-DiMino-red">Joseph DiMino's Portfolio</li>
        </ul>
        <div class="flex sm:hidden flex-1 justify-center">
          <i class="text-2xl fas fa-bars"></i>
        </div>
      </nav>
    </header>
    <!-- End Header -->
    <!-- About Me -->
    <section class="container mx-auto px-4 py-8">
      <div class="container flex flex-col md:flex-row mx-auto px-4 py-8 shadow-xl rounded-xl hover:shadow-2xl">
        <div class="flex-1 ">
          <h1 class="text-3xl font-bold text-DiMino-red">About Me</h1>
          <p class="text-lg">
            I am a programmer from Smithtown. I am currently working on devloping the website you are viewing right now. 
            I have a passion for learning and creating. I have been on the Smithtown Robotics team since I was a freshman. 
            I have have taken many classes at our school relating to computers like AP Computer Science A, AP Computer Science Principles,
            Intro to Computer Science, and Cyber Security and Repair. I am in many honors societies such as the Math Honor Society, Tech Honor Society, 
            and the Italian Honor Society. I volunteer at first events through first inspires where we referee events for the middle school robotics teams. 
            I am also a member of our schools Science Olympiad team. I do events such as the dectector building and wifi event. In these events I can put my techechial knowledge
            towards pratical applications. 
          </p>
        </div>
        <div class="flex-1">
          <img src="../images/me.jpg" width="100%" height = "100%"/>
        </div>
      </div>
    </section>
    <!--- End About -->
    <!-- Skills -->
    <section class="container mx-auto px-4 py-8">
      <div class="container flex flex-col md:flex-row px-4 py-8 shadow-xl rounded-xl hover:shadow-2xl">
        <div class="md:w-1/2">
          <h2 class="text-3xl font-bold text-DiMino-red">Skills</h2>
          <p class="text-lg">
            On the robotics team we java to programm the robots movement and python for the robot's vision.
            I am currently working on my web development skills in html/css/javascript/express/mongoose/
            SQL. 
          </p>
        </div>
        <div class="md:w-1/2">
          <img src="../images/java.jpg" width="100%" height = "100%" alt=""/>
        </div>
      </div>
    </section>
    <!--- End Skills -->
    <!--Link Section-->
    <section class="container mx-auto px-4 py-8">
      <div class="container flex flex-col-reverse lg:flex-row items-center px-4 py-8 shadow-xl rounded-xl hover:shadow-2xl">
        <div class="flex felx-1 flex-col items-center lg:items-start mb:6">
          <h2 class="text-DiMino-red text-3xl md:text-4 lg:text-5xl text-center lg:text-left mb-6">
            Links
          </h2>
          <p class="text-DiMino-red text-lg text-center leg:text-left  mb-6">
            <a href="https://github.com/DiMino-0" target="_blank" class="text-black">Github</a>
          </p>
        </div>
      </div>
    </section>  
    <!--End of Link Section-->
    <!--Contact Section-->
    <section class="container mx-auto px-4 py-8">
      <div class="container mt-6 mb-6 shadow-xl rounded-xl hover:shadow-2xl">
        <div class="flex felx-1 flex-col items-center lg:items-start">
          <h2 class="text-DiMino-red text-3xl md:text-4 lg:text-5xl text-center lg:text-left mb-6">
            Contact Me
          </h2>
          <p class="text-DiMino-red text-lg text-center leg:text-left mb-6">
            Email: JosephDiMino.0@gmail.com
          </p>
        </div>
      </div>
    </section>      
    <!--End of Contact Section-->
    <!-- Footer -->
    <footer class="bg-white absoulte bottom-0 w-full">
      <div class="flex flex-col items-center py-4 text-center text-sm text-black">
        <p class="text-DiMino-red text-lg">
          &copy; Joseph DiMino 2021-2021 
        </p>
      </div>
    </footer>
    <!-- End of Footer -->
  </body>
</html>
